@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  
    /**
     * typography
     */
    --ff-lobster: "Lobster", sans-serif;
  
    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.375rem;
    --fs-4: 1.125rem;
    --fs-5: 0.875rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
  
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #008BCB;
    background: linear-gradient(to bottom left, #008BCB, #09345C);
    background-size: cover;
}

ion-icon{
    font-size: var(--fs-5);
    cursor: pointer;
    pointer-events: none;
}

ion-icon title{
    visibility: hidden;
}

.info-icon{
    cursor: pointer;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2%;
}

.title h1{
    font-family:var(--ff-lobster);
    color: rgb(230, 230, 230);
    font-size: var(--fs-1);
    padding-bottom: 5px;
}


.title span{
    color: rgb(230, 230, 230);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-5);
}

.title a{
    color:rgb(230, 230, 230);
    cursor: pointer;
    padding: 0 5px;
}

.memory-game {
    padding: 2em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: .3rem; 
    perspective: 1800px;
}

.memory-card {
    height: 100px;
    width: calc(100px/1.4);
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    background: #ffffff;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}


footer{
    color: rgb(230, 230, 230);
    position: absolute;
    inset: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 2em;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

footer h2{
    font-family: var(--ff-lobster);
    font-size: var(--fs-1);
    padding-bottom: 1em;
}

footer p{
    padding: .5em 0;
    font-size: var(--fs-6);
}

footer p mark{
    padding: 5px 0;
}
/*
*
*   //+++MEDIA QUERIES
*
*/


 @media (min-width: 374px){
    .memory-game {
        grid-gap: .3rem;
    }

    .memory-card{
        height: 7em;
        width: calc(7em/1.4);
    } 
}
 @media (min-width: 424px){
    .memory-game {
        grid-gap: .4rem;
    }

    .memory-card{
        height: 8.5em;
        width: calc(8.5em/1.4)
    } 
}
 @media (min-width: 576px){
    .memory-game {
        grid-gap: .5rem;
    }

    .memory-card{
        height: 10em;
        width: calc(10em/1.4);
    } 
    footer{
        text-align: left;
        padding: 0 15%;
    }
}

 @media (min-width: 768px){
    .memory-game {
        grid-gap: .8rem;
    }

    .memory-card{
        height: 12em;
        width: calc(12em/1.4);
    } 

    .title{
        position: inherit;
    }

     .title h1{
        font-size: 3em;
    }

    .title span{
        font-size: var(--fs-4);
    } 

    ion-icon{
        font-size: var(--fs-4);
    }

    footer{
        text-align: left;
        padding: 0 20%;
    }

    footer h2{
        font-size: 50px;
    }

    footer p {
        font-size: var(--fs-4);
    }
}
 @media (min-width: 992px){
    .memory-game {
        grid-gap: 1rem;
    }

    ion-icon{
        font-size: var(--fs-3);
    }

    footer p{
        font-size: var(--fs-3);
    }
}